*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0f1115;
color:#fff;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

#createGameBtn{
background:#ffb400;
color:#111;
border:none;
padding:12px 22px;
border-radius:10px;
font-size:15px;
font-weight:700;
cursor:pointer;
}

.tableBox{
background:#1a1d24;
border-radius:15px;
overflow:hidden;
}

table{
width:100%;
border-collapse:collapse;
}

thead{
background:#ffb400;
color:#111;
}

th,td{
padding:15px;
text-align:center;
}

tbody tr{
border-bottom:1px solid #2d313c;
}

tbody tr:hover{
background:#232833;
}

.popup{
display:none;
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
background:rgba(0,0,0,.75);
justify-content:center;
align-items:center;
z-index:999;
}

.popup.active{
display:flex;
}

.popupBox{
width:450px;
background:#1b1f28;
padding:25px;
border-radius:15px;
}

.popupBox h2{
margin-bottom:20px;
}

.popupBox input,
.popupBox select,
.popupBox textarea{
width:100%;
padding:12px;
margin-bottom:15px;
border:none;
border-radius:10px;
background:#2b313d;
color:#fff;
font-size:14px;
}

.popupBox textarea{
height:110px;
resize:none;
}

#saveGame,
#closePopup{
width:100%;
height:48px;
border:none;
border-radius:10px;
font-size:15px;
font-weight:700;
cursor:pointer;
margin-top:10px;
}

#saveGame{
background:#ffb400;
color:#111;
}

#closePopup{
background:#444;
color:#fff;
}

.actionBtn{
border:none;
padding:8px 12px;
border-radius:8px;
cursor:pointer;
margin:2px;
font-size:13px;
font-weight:600;
}

.editBtn{
background:#2196F3;
color:#fff;
}

.deleteBtn{
background:#F44336;
color:#fff;
}

.activeBtn{
background:#00C853;
color:#fff;
}

.inactiveBtn{
background:#FF9800;
color:#fff;
}
