.popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.7);
justify-content:center;
align-items:center;
}

.popup.active{
display:flex;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

#createBtn{
background:#ffb400;
color:#111;
border:none;
padding:12px 20px;
border-radius:10px;
font-weight:700;
cursor:pointer;
}

.tableBox{
background:#1a1d24;
padding:20px;
border-radius:15px;
overflow-x:auto;
}

table{
width:100%;
border-collapse:collapse;
}

th{
background:#ffb400;
color:#111;
padding:14px;
text-align:left;
}

td{
padding:14px;
border-bottom:1px solid #333;
color:#fff;
}

.statusLive{
color:#00ff6a;
font-weight:700;
}

.statusUpcoming{
color:#ffb400;
font-weight:700;
}

.statusEnded{
color:#ff4444;
font-weight:700;
}

.actionBtn{
padding:8px 14px;
border:none;
border-radius:8px;
cursor:pointer;
margin-right:5px;
font-weight:600;
}

.editBtn{
background:#2196F3;
color:#fff;
}

.deleteBtn{
background:#f44336;
color:#fff;
}

.liveBtn{
background:#00c853;
color:#fff;
}

.popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.7);
display:none;
justify-content:center;
align-items:center;
}

.popup.active{
display:flex;
}

.popupBox{
width:420px;
background:#1a1d24;
padding:25px;
border-radius:15px;
}

.popupBox h2{
margin-bottom:20px;
}

.popupBox input,
.popupBox select{
width:100%;
height:50px;
margin-bottom:15px;
background:#2b2f38;
border:none;
border-radius:10px;
padding:0 15px;
color:#fff;
}

#saveTournament,
#closePopup{
width:100%;
height:50px;
border:none;
border-radius:10px;
font-weight:700;
cursor:pointer;
margin-top:10px;
}

#saveTournament{
background:#ffb400;
color:#111;
}

#closePopup{
background:#444;
color:#fff;
}
